<!--<html>-->
<!--<head>-->
    <!--<title>Contact us</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Contact us</h1>-->

    <!--{% if errors %}-->
        <!--<ul>-->
            <!--{% for error in errors %}-->
            <!--<li>{{ error }}</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% endif %}-->

    <!--<form action="/contact/" method="post">-->
        <!--<p>Subject: <input type="text" name="subject" value="{{ subject }}"></p>-->
        <!--<p>Your e-mail (optional): <input type="text" name="email" value="{{ email }}"></p>-->
        <!--<p>Message: <textarea name="message" rows="10" cols="50">{{ message }}</textarea></p>-->
        <!--<input type="submit" value="Submit">-->
    <!--</form>-->
<!--</body>-->
<!--</html>-->

<!--<html>-->
<!--<head>-->
    <!--<title>Contact us</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Contact us</h1>-->

    <!--{% if form.errors %}-->
        <!--<p style="color: red;">-->
            <!--Please correct the error{{ form.errors|pluralize }} below.-->
        <!--</p>-->
    <!--{% endif %}-->

    <!--<form enctype="multipart/form-data" action="" method="post">-->
         <!--{% csrf_token %}-->
        <!--<table>-->
            <!--{{ form.as_table }}-->
        <!--</table>-->
        <!--<input type="file" name="upload1" /><br />-->
        <!--<input type="submit" value="Submit">-->
    <!--</form>-->
<!--</body>-->
<!--</html>-->

<form enctype='application/json' method="post">
    {% csrf_token %}
  <input name='name' value='Bender'>
  <select name='hind'>
    <option selected>Bitable</option>
    <option>Kickable</option>
  </select>
  <input type='checkbox' name='shiny' checked>
    <input type="submit" value="Submit">
</form>