{% extends 'sentiment/base.html' %}
{% block title %}分析文本{% endblock %}
{% block content%}
<!--<img src="/static/logo.png"/>-->
<form action="/sentiment/sentence/" method="post">
    {% csrf_token %}
    <p>关键词：<input name='key_word'></p>
    <p>您要分析的内容: <br/><textarea name="message" rows="5" cols="50"></textarea></p>
    <input type="submit" value="开始分析">
</form>
<br/>
{% if show_ob%}
<p>这是个客观内容，因此没有情感成分</p>
<br/>
{% endif %}
<!-- 为 ECharts 准备一个具备大小（宽高）的Dom -->
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
{% if show_chart %}
<script type="text/javascript">
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
var args = {{ args|safe }};
var positive = args.positive;
var negative = args.negative;
var max_one;
if (negative > positive){
max_one = negative;
}else{
max_one = positive
}

var option = {
    backgroundColor: '#2c343c',
    visualMap: {
        show: false,
        min: 0,
        max: max_one + 5,
        inRange: {
            colorLightness: [0, 1]
        }
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius: '55%',
            data:[
                {value:positive,
                name:'正面' + positive,
                itemStyle: {
                normal: {
                color: 'rgb(215, 26, 33)'
                }
                }
           },
                {value:negative,
                name:'负面' + negative,
                itemStyle: {
                normal: {
                color: 'rgb(0, 49, 79)'
                }
                }
          },
                //{value:310, name:'邮件营销'},
                //{value:335, name:'直接访问'},
                //{value:400, name:'搜索引擎'}
            ],
            roseType: 'angle',
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            labelLine: {
                normal: {
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            itemStyle: {
                normal: {
                    //color: '#c23531',
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};


// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

</script>
{% endif %}

<!--<img src="http://p3.sinaimg.cn/2750469762/180/85031333451108"/>-->
{% endblock %}